<header class="bg-yellow-400 text-gray-900 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="font-bold text-xl">
      <%= link_to "飯店なび", root_path, class: "hover:underline" %>
    </h1>
  </div>
  <%# ログインボタン挿入場所%>
</header>