<header class="bg-yellow-400 text-gray-900 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="font-bold text-xl">
      <%= link_to "飯店なび", root_path, class: "hover:underline" %>
    </h1>
  </div>
  <%# ログインボタン挿入場所%>
  <div class="container mx-auto flex justify-end items-center mt-2">
    <% if user_signed_in? %>
      <span class="mr-4">ようこそ、<%= current_user.email %>さん</span>
      <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600" %>
    <% end %>
  </div>
</header>