<div class='ms-auto' id="<%= "bookmark-button-for-restaurant-#{restaurant.id}" %>">
  <% if user_signed_in? %>
    <% if @bookmarked_restaurant_ids&.include?(restaurant.id) %>
      <%= link_to restaurant_bookmark_path(restaurant),
          data: { turbo_method: :delete, turbo_stream: true } do %>
        <i class="bi bi-star-fill"></i>
      <% end %>
    <% else %>
      <%= link_to restaurant_bookmark_path(restaurant),
          data: { turbo_method: :post, turbo_stream: true } do %>
        <i class="bi bi-star"></i>
      <% end %>
    <% end %>
  <% end %>
</div>